    /* COMPONENTS */
@import url(/assets/css/components/nav.css);
@import url(/assets/css/components/aside.css);
@import url(/assets/css/components/buttons.css);
@import url(/assets/css/components/terminal.css);
@import url(/assets/css/components/footer.css);
@import url(/assets/css/components/readmeModal.css);
    /* PAGES */
@import url(/assets/css/pages/home.css);
@import url(/assets/css/pages/about.css);
@import url(/assets/css/pages/projects.css);
@import url(/assets/css/pages/contact.css);


/*   ESTILIZAÇÕES GLOBAIS */ 


*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;

    transition: 1s all  ease-in-out;

    

    ul, li, a{
        
        list-style: none;
        text-decoration: none;
    

    }
}


body{

    background-color: var(--bg-primary);

}

 .container {

    min-height: calc(100dvh - 6.5rem );
    width: min(92%, 1500px);
    
    margin-inline: auto;
    margin-top: 1rem;
 

    background-color: var(--bg-primary);
    
    color: var(--text-primary);

}


.green{

    color: var(--green);

}


.esconder {
    transform: translateY(-250%);
    transition: transform 1s ease-in-out;
}


.open {
    display: grid;
}


.openReadme{

    
    opacity: 1;
    visibility: visible;

}


section {
    scroll-margin-top: 90px; /* altura da navbar */
}





/* barra inteira */
::-webkit-scrollbar {

    width: 6px;
    height: 6px;

}


/* fundo da barra */
::-webkit-scrollbar-track {

    background: #8b8b8b;

}


/* o "botão" que arrasta */
::-webkit-scrollbar-thumb {

    background: var(--cinzaEscuro);

    border-radius: 10px;

}


/* quando passa o mouse */
::-webkit-scrollbar-thumb:hover {

    background: var(--spanGreen);

}


/* Tablets grandes */
@media (min-width: 1000px) {

    .container{

        display: flex;
        justify-content: center;
        align-items: flex-start;
        gap: 2rem;    
        
        margin-left: 60px;
        width: calc(100% - 80px);

    }


}