
:root {

    /* ========= Background ========= */

    --bg-primary: #0a0a0a;
    --bg-secondary: #141617;
    --bg-tertiary: #1A1C1E;
    --bg-card: #111315;
    --bg-hover: #1F2224;
    --bg-light: #383838;
    --bg-cinza-medio: #1f201f;
    --bg-hover2: #3d3d3d;
    
    --bg-terminal: #050505; 
    --bg-headerTerminal: #131313;

    --bg-aboutMe: #050505;
    --bg-carousel: #050505;

    
    --scrool-terminal: #4b4b4b;

    /* ========= Texto ========= */

    --text-primary: #F5F5F5;
    --text-secondary: #e2e2e2;
    --text-muted: #7C7C7C;
    --text-hover: #000;
    --text-green: #00ff37;
    --text-hover-icon: #080808;
    --text-terminal: #e2e2e2;
    --span-carousel: #afafaf;

    /* ========= Verde ========= */

    --green: #00ed57;
    --green-hover: #00E676;
    --green-dark: #02992a;
    --green-light: #63FFA8;
    --green-carousel: #0ff777;
    
      --hoverGreen: #5a635f77;

    /* ========= Bordas ========= */

    --border: #242729;
    --border-light: #34383B;

    /* ========= Sombras ========= */

    --shadow: rgba(0,0,0,.45);

    /* ========= Ícones ========= */

    --icon: #D4D4D4;
    --icon-hover: #FFFFFF;

    /* ========= Status ========= */

    --circle-green: #00FF84;
    --circle-orange: #FF9800;
    --circle-red: #FF5252;

     --spanGreen: #00ff66;
      --cinzaEscuro: #3f3f3f;

      --blue: #1E90FF;
      --yellow: #FFD700;

}


.light {

    /* ========= Background ========= */

    --bg-primary: #F7F8FA;
    --bg-secondary: #FFFFFF;
    --bg-tertiary: #F1F3F5;
    --bg-card: #FFFFFF;
    --bg-hover: #ECEFF1;
    --bg-cinza-medio: #cfd3cf;
    --bg-terminal:  #f0f0f0; 
    --bg-headerTerminal: #e9e8e8;

    --bg-aboutMe: #f0f0f0;
     --bg-carousel: #ffffff;

    --scrool-terminal: #c5c8c5;

    /* ========= Texto ========= */

    --text-primary: #1C1C1C;
    --text-secondary: #5F6368;
    --text-muted: #8A8D91;
    --text-hover: #000;
    --text-green: #02a80a;
    --text-hover-icon: #ffffff;
    --text-terminal: #313131;
    --span-carousel: #313131;

    /* ========= Verde ========= */
    
    --green: #15b640;
    --green-dark: #02992a;
    --green-light: #63FFA8;
    --green-hover: #00E676;

    /* ========= Bordas ========= */

    --border: #d3d3d3;
    --border-light: #D8DBDF;

    /* ========= Sombras ========= */

    --shadow: rgba(0,0,0,.08);

    /* ========= Ícones ========= */

    --icon: #555555;
    --icon-hover: #1C1C1C;

    /* ========= Status ========= */


    --circle-green: #00C853;
    --circle-orange: #FB8C00;
    --circle-red: #E53935;

}


:root {
    /* ===== Interface ===== */
    --font-primary: "Inter", sans-serif;
    --font-secondary: "IBM Plex Sans", sans-serif;
    --font-heading: "Manrope", sans-serif;

    /* ===== Código / VS Code ===== */
    --font-code: "JetBrains Mono", monospace;
    --font-editor: "Cascadia Code", monospace;
    --font-terminal: "Fira Code", monospace;

    /* ===== Hacker / Cyber ===== */
    --font-hacker: "Share Tech Mono", monospace;
    --font-cyber: "Space Mono", monospace;
    --font-futuristic: "Oxanium", sans-serif;

    /* ===== Destaques ===== */
    --font-logo: "Sora", sans-serif;
    --font-display: "Orbitron", sans-serif;
}