

.menuIcones {

    visibility: hidden;

    position: fixed;
    top: 0px;
    left: 0px;

    height: 100dvh;
    width: 45px;

    background-color: var(--bg-primary);

    border-right: 2px solid var(--border);

    z-index: 999999;
    display: grid;
    grid-template-rows: 60px 1fr 1fr;

    z-index: 999999;

}

.logo {

    display: flex;
    align-items: center;
    justify-content: center;

    img {

        width: 25px;


    }



}

.icones {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 1.5rem;

    padding-top: 0.5rem;

    font-size: 1.5rem;

    color: var(--icon);

}


.iconesInferiores {

    justify-content: flex-end;

    padding-bottom: 2rem;

}


.containerAside{

    position: fixed;
    top: 45px;
    left: -5px;
    
    margin: 0;

    width: 15rem;
    height: calc(100vh - 45px);


    background-color: var(--bg-tertiary);
    color: var(--text-primary);

    z-index: 20;

    padding: .5rem;
    

    display: none;
    grid-template-rows: 40px auto auto auto 1fr 1fr;

    overflow-y: auto;
}





.asideExplorer{

  
    padding-left: 0.4rem;

    font-size: 1.2rem;

    



}

 .txtSeparadores{

        display: grid;
        grid-template-columns: 3.5fr 1fr;

    }


.asidePortfolio{

    position: relative;

    display: flex;
    flex-direction: column;


    padding-left: 0.5rem;
    padding-bottom: 1rem;

    border-bottom: 2px solid var(--border);


    .arquivos{

        display: grid;
        grid-template-columns: 25px 3fr 1fr;

        padding-left: 1rem;
        padding-top: 0.5rem;

        font-size: 1.1rem;

        color: var(--text-muted);

    }

    .readme{

        cursor: pointer;
        color: var(--text-primary);

        &:hover{

            color: var(--text-muted);
        }
    }

    .fa{

        font-size: 0.5rem;

    }

    .txtPortfolio{

        font-size: 1.2rem;

        span{

            padding-right: 1rem;

        }

    }
}

.contentPortfolio p::before {
        content: "";
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 2px;
        height: 82%;
        margin-left: .5rem;
        background: var(--border);
}
.asideAtalhos{

    

    padding-left: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;

    font-size: 1.2rem;

     border-bottom: 2px solid var(--border);
}


.content{

        line-height: 2rem;
        padding-left: 1rem;
        padding-top: .5rem;

        p{

            color: var(--text-primary);

        }
    }
    
    .atalhos{

        display: grid;
        grid-template-columns: 0.3fr 1fr;

        width: 90%;


        padding-top: 0.5;

        font-size: 1.1rem;
        
        transition: .3s all ease-in-out;

        cursor: pointer;
       
        &:hover{

            color: var(--green);

            background-color: var(--hoverGreen);

            border-radius: 15px;
            border: 2px solid var(--border);

            padding: .2rem .5rem;
        }
      
    
    }


.asideContatos{


     padding-left: 1rem;
    padding-top: 1rem;

    font-size: 1.2rem;

     border-bottom: 2px solid var(--border);

}


.helpTerminal{

    width: 100%;
    height: 100%;

    padding: 1rem;

    display: flex;
    align-items: center;
    justify-content: center;

    font-family: var(--font-editor);

    .help{

        width: 10rem;
        height: 8rem;

        border: 2px solid var(--green);

        color: var(--green);

        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
        padding: 1rem;

    }

       &:hover{


    color: #00ff66;

    text-shadow:
        0 0 5px #12f06b,
        0 0 15px #19df68,
        0 0 30px rgba(9, 228, 97, 0.8);

    }
}



.content{
    display:none;
}

.content.open{
    display:block;
}






@media (min-width: 1000px) {


    .menuIcones {

        visibility: visible;

    }


    .containerAside{

        

    }


    .containerAside{

        margin-left: 50px;

    }

}


@media(max-width:999px) {

    .containerAside {
        width: 14rem;
        max-width: 14rem;
    }

}







    .explorer:not(.open) .arquivos,
    .containerAsideLinks:not(.open) .navLinks {

        display:none;

    }


    /* mantém os títulos aparecendo */

    .explorer,
    .containerAsideLinks {

        display:block;

    }